name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for submission folder
        id: check_submission
        uses: ./.github/actions/check-submission
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: uv sync
      - name: Run ruff linting
        if: steps.check_submission.outputs.has_submission != 'true'
        run: make lint
