name: Markdown Format Check

on:
  push:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for submission folder
        id: check_submission
        uses: ./.github/actions/check-submission
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install prettier
        run: npm install -g prettier
      - name: Check markdown formatting
        if: steps.check_submission.outputs.has_submission != 'true'
        run: make prettier-check
